{% extends '::base.html.twig' %}

{% block content %}

    <p> </p>
    <p>Aplicația Reviews Box centralizează produse ce pot fi cumpărate din mediul on-line, și reține pentru fiecare
        produs, review-urile utilizatorilor ce au achiziționat acel produs și pe care l-au testat în trecut și au dorit
        să împărtășească celorlalți utilizatori experiența cu acel produs.
    </p><p> Înainte ca un utilizator să achiziționeze un produs, el poate, cu ajutorul aplicației Reviews Box să
    verifice și părerile celorlalți utilizatori ce au testat produsul respectiv, pentru a găsi produsul cel mai potrivit
    pentru el.</p>


{% endblock %}