{% extends '::base.html.twig' %}

{% block content %}

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading no-margin">
                <h4>Informatii Contact</h4>
            </div>

            <div class="page-content contact-info">

                <iframe width="425" height="350" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFxE7uLLBYs1T8HeOS7jNulQU2TFnaoak&q=Universitatea+din+București,+Bulevardul+Regina+Elisabeta,+București"></iframe>
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="contact-item green">
                            <i class="icons icon-location-3"></i>
                            <p>Universitatea din București, <br>

                                Bulevardul Regina Elisabeta, București</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="contact-item blue">
                            <i class="icons icon-mail"></i>
                            <p><a href="#">george-tiberiu.calcea@my.fmi.unibuc.ro</a><br>
                                <a href="#">calcea10@gmail.com</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="contact-item orange">
                            <i class="icons icon-phone"></i>
                            <p>
                                0728789998
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="contact-item purple">
                            <i class="icons icon-clock"></i>
                            <p>Luni - Vineri: 18.00-21.00<br>
                                Sambata - Duminica: 08.00-20.00<br>
                        </div>
                    </div>

                </div>

            </div>

        </div>



{% endblock %}