/web/bundles/
/web/uploads/
/web/media/
/web/compiled/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/src/Reviews/PredictBundle/Resources/data/classifier-models/
/composer.phar
