{% extends sonata_block.templates.block_base %}

{% block block %}

    <ul>
        {% for category in categories %}
            <li><a href="{{ path('reviews_all_products', {'category': category.categoryId, slugName: category.name| sonata_slugify }) }}">
                    {{ category.name }}
                    <i class="icons icon-right-dir"></i>
                </a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}